{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Change Password{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST">
        <label for="new_password">New Password</label>
        <input type="text" name="new_password" class="new_password">
        <label for="email">Email</label>
        <input type="email" name="email" class="email">
        <label for="password">Password</label>
        <input type="password" name="password" class="password">
        <input type="submit" value="Submit">
    </form>

{% endblock content %}