{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Finish Profile{% endblock %}</h1>
{% endblock header %}
{% block content %}
    <form method="post">
        <div class="user-data">
            <ul>
                <label for="bio">Bio:</label>
                <input type="text" maxlength="700" placeholder="Talk about you ;)" name="bio">
                <label for="cep">CEP:</label>
                <input type="text" maxlength="8" placeholder="62940000" name="cep">
                <input type="submit" value="Submit">
            </ul>
        </div>
    </form>
{% endblock content %}