{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}
{% block content %}
    <div class="user-data">
        <ul>
            <li>Username: {{g.user['username']}}</li>
            <li>Email: {{g.user['email']}}</li>
            <li>Birth: {{g.user['birth']}}</li>
            <li>Bio: {{g.user['bio']}}</li>
            <li>CEP: {{g.user['cep']}}</li>
            <li>City: {{g.user['city']}}</li>
            <li>Address: {{g.user['address']}}</li>
            <li>Street: {{g.user['street']}}</li>
            <li>Number: {{g.user['number']}}</li>
            <li>Neighborhood: {{g.user['neighborhood']}}</li>
            <li>Created At: {{g.user['created_at']}}</li>
        </ul>
    </div>
    <a href="{{url_for('profile.change_username_and_birth')}}">Edit profile</a>
    <br>
    <a href="{{url_for('profile.finish_profile')}}">Finish profile</a>
{% endblock content %}