{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Cart{% endblock %}</h1>
{% endblock header %}

{% block content %}
    {% if not movies%}
        <h2>Your cart is empty :v</h2>
    {% else %}
        {% for movie, data in movies.items() %}
            <a href="{{url_for('movies.movie_detail', _id=data[0])}}"><h2>{{movie}}</h2></a>
            <img src="{{data[1]}}" alt="{{movie}} poster.">
            <p>{{data[2]}}</p>
            <p>{{data[3]}}</p>
            <form method="POST">
                <input type="hidden" name="removed-movie" value="{{movie}}">
                <button>Remove from Cart</button>
            </form>
        {% endfor %}
        <h2>Total Price: {{price}}</h2>
    {% endif %}
{% endblock content %}
