{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Cart{% endblock %}</h1>
{% endblock header %}

{% block content %}
    {% if not movies%}
        <p><strong>Your cart is empty :v</strong></p>
    {% else %}
        {% for movie, data in movies.items() %}
            <a href="{{url_for('movies.movie_detail', _id=data[0])}}"><h2>{{movie}}</h2></a>
            <img src="{{data[1]}}" alt="{{movie}} poster.">
            <p>{{data[2]}}</p>
            <p>{{data[3]}}</p>
            <form method="POST">
                <input type="hidden" name="removed-movie" value="{{movie}}">
                <button>Remove from Cart</button>
            </form>
        {% endfor %}
        <h3>Total Price: {{price}}</h3>
    {% endif %}
    {% if movies %}
    <form method="POST">
        <input type="hidden" name="finish-purchase">
        {% for _, movie_id in movies.items() %}
            <input type="hidden" name="_ids" value="{{movie_id[0]}}">
        {% endfor %}
        <input type="hidden" name="price" value="{{price}}">
        <input type="Submit" name="finish" value="Finish Purchase">
    </form>
    {% endif %}
{% endblock content %}
