{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Cart{% endblock %}</h1>
{% endblock header %}

{% block content %}
    {% if not movies%}
        <h2>Your cart is empty :v</h2>
    {% else %}
        {% for movie, data in movies.items() %}
            <h2>{{movie}}</h2>
            <img src="{{data[0]}}" alt="{{key}} poster.">
            <p>{{data[1]}}</p>
            <p>{{data[2]}}</p>
        {% endfor %}
        <h2>Total Price: {{price}}</h2>
    {% endif %}
{% endblock content %}
