<!doctype html>
<title>{% block title %} Home {% endblock %} - Moved By Movies</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  
  <h1><a href="{{ url_for('home') }}">Moved By Movies</a></h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span></li>
      <li><a href="{{ url_for('profile.profile') }}">Profile</a></li>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
      {% if g.user['email'] == 'wellington@admin.com' %}
        <li><a href="{{ url_for('movies.register') }}">Register Movie</a></li>
      {% endif %}
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a></li>
      <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
    {% endif %}
    <li><a href="{{ url_for('movies.catalog') }}">Catalog</a></li>
    <li><a href="{{ url_for('movies.search') }}">Search</a></li>
  </ul>

</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

{% block footer %}
    <footer>
        <span><a href="https://www.github.com/welli7ngton" target="_blank">github</a></span>
        <span><a href="https://www.linkedin.com/in/welli7ngton" target="_blank">linkedin</a></span>
    </footer>
{% endblock %}