{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Catalog{% endblock %}</h1>
{% endblock %}

{% block content %}

    <a href="{{url_for('movies.search')}}">Search &#128269;</a>

    {% for movie in movies %}
        <div name="single-movie">
            {% if movie['poster'] != 'N/A' %}
                <img src="{{movie['poster']}}" alt="movie poster">
            {% else %}
                <br>I dont have the poster yet :,c</br>
            {% endif %}
            <p><a href="{{url_for('movies.movie_detail', _id=movie['id'])}}">{{movie['title']}}</a></p>
            <p>{{movie['plot']}}</p>
            <p>{{movie['released']}}</p>
            <p>{{movie['runtime']}}</p>
            <p>{{movie['gender']}}</p>
            <p>{{movie['director']}}</p>
            <p>{{movie['imdbRating']}}</p>
            <p>{{movie['price']}}</p>
        </div>
    {% endfor %}
{% endblock content %}