{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Catalog{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% for movie in movies %}
        <div name="single-movie">
            {% if movie['poster'] != 'N/A' %}
                <img src="{{movie['poster']}}" alt="movie poster">
            {% else %}
                <br>I dont have the poster yet :,c</br>
            {% endif %}
            <br><a href="{{url_for('movies.movie_detail', _id=movie['id'])}}">{{movie['title']}}</a></br>
            <br>{{movie['plot']}}</br>
            <br>{{movie['released']}}</br>
            <br>{{movie['runtime']}}</br>
            <br>{{movie['gender']}}</br>
            <br>{{movie['director']}}</br>
            <br>{{movie['imdbRating']}}</br>
        </div>
    {% endfor %}
{% endblock content %}