{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}{{movie['title']}}{% endblock %}</h1>
{% endblock header %}

{% block content %}
    <img src="{{movie['poster']}}" alt="{{movie['title']}} poster">
    <p>Plot: {{movie['plot']}}</p>
    <p>Released: {{movie['released']}}</p>
    <p>Runtime: {{movie['runtime']}}</p>
    <p>Gender: {{movie['gender']}}</p>
    <p>Main Actors: {{movie['actors']}}</p>
    <p>Director: {{movie['director']}}</p>
    <p>Writer: {{movie['writer']}}</p>
    <p>Country: {{movie['country']}}</p>
    <p>Language: {{movie['language']}}</p>
    <p>Awards: {{movie['awards']}}</p>
    <p>IMDB Rating: {{movie['imdbRating']}}</p>
    <p>Price: {{movie['price']}}</p>

    <form method="POST">
        <button>Add to Cart</button>
    </form>

{% endblock content %}
